.cursor {
    cursor: pointer;
    color: white;
    text-shadow:4px 4px 10px #000;
}

.text-decorator-none {
    text-decoration: none;
}
.bg-menu{
    background:#2C9BED !important;
}
.space{
    width: 100vw;
}
.fundoSobre{
   
}