.cursor {
    cursor: pointer;
    color: white;
    text-shadow:4px 4px 10px #000;
}

.text-decorator-none {
    text-decoration: none;
}
.bg-menu{
    background: linear-gradient(50deg, whitesmoke 15%, #2C9BED 20%);
}
.space{
    width: 100vw;
}
