.cursor {
    cursor: pointer;
    color: white;
 
}

.text-decorator-none {
    text-decoration: none;
}
.bg-menu{
    background: linear-gradient(50deg, whitesmoke 15%, #2C9BED 20%);
   
}

.itens{
    display: flex;
    justify-content:flex-end ;    
}

.space{
    width: 100vw;
    padding-right: 20px;
}
