.titulo{
    font-weight: normal;
 }

 .faixa-postagem{
   background-color: #2C9BED !important;
   width: 100%;
   
 }

 .label{
   margin-right:10px !important;
 }

 .posts{
   margin: 0 auto;
 }

 .texto-sobre{
   width: 850px;
   margin: 0 auto;
 }