@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.text-decorator-none {
    text-decoration: none;
}



.fundo-home {
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)), 
    url(https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.texto-principal{
    font-family: 'Fredoka One', cursive;
    color: white;
    padding: 50px;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold !important;
}

.caixa-cadastro{
    background-color: white;
    height: 500px;
    width: 410px;
    border-radius: 30px;
    
}

.caixa-cadastro form img{
    width: 120px;
    margin: 0 auto;
    padding-left: 150px;
    padding-top: 20px;
}

.inputs{
    margin: 10px;
    width: 390px;
}

