.box1 {
    background-color: #2C9BED;
    height: 76px;
}

.box2 {
    background: #2C9BED;
    height: 30px;
}
.textos{
    color: white;
}
.redes{
    font-size: 40px !important;
    color: white;
}