.caixa-home {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.6)), url(https://images.pexels.com/photos/159775/library-la-trobe-study-students-159775.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imagem-logo-home{
    width: 330px;
    margin-left:50vh;

}

.titulo {
    color: rgb(255, 255, 255) !important;
    font-family: 'Fredoka One', cursive !important;
    font-size: 1.6em !important;
}

.botao {
    background-color: rgba(17, 144, 235, 0.753) !important;
    color: white !important;
    margin-bottom: 40px !important;
}

.botao:hover{
    background-color: #0793f7 !important;
}

.homeLeft{
    background-color: #ffffff !important;
    /* box-shadow: 0px 0px 8px; */
    border-radius: 8px;
    height: 25rem;
    margin: 60px auto !important;
}



.fundo-postagens{
    background-color: white;
}

