@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.caixa-sobre{
    font-family: 'Fredoka One', cursive !important; 
}

.caixa-sn{
    font-family: 'Fredoka One', cursive !important;
    padding: 20px;
    text-align: center;
}

.titulo-sn{
    font-family: 'Fredoka One', cursive !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.texto{
    font-family: 'Fredoka One', cursive !important;
    font-size: 1.3em;
}

.texto strong{
    color:#0793f7;
}


.bx-sobrenos{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding-top: 50px;
}