 .imagem1{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("https://www.avare.sp.gov.br/img/novidades/a25dcfd50ba47bb154a5a21cf5cfd853.jpeg");
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.texto{
    padding: 20px;
}
