.cursor {
    cursor: pointer;
    color: white;
}

.text-decorator-none {
    text-decoration: none;
}
.bg-menu{
    background:linear-gradient(to left, #a4068cc4 40%, rgba(32, 14, 99, 0.651) 70%) ;
}
.space{
    width: 100vw;
}