@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.imagem2{
    width: 300px;
    margin-left: 25vh;
    padding-bottom: 15px;
}

.imagem3{
    width: 400px;  
}

.btnCancelar{
    margin-right: 8% !important;
    background-color: #FFCC01 !important;
    color:rgba(0, 0, 0, 0.788) !important;
}

.texto-principal2{
    font-family: 'Fredoka One', cursive !important;
    color: black;
    font-size: 2em !important;
    text-align: center;
}

.fonte-fredoka{
    font-family: 'Fredoka One', cursive !important; 
}